{{> header}}

<h1>Equipe de desenvolvimento</h1>

<div class="row row-cols-2">
{{#equipes}}
    <div class="col"><div class="boxteam bg-info text-dark">
        {{{content}}}
    </div></div>
{{/equipes}}
</div>

{{> footer}}